In [ ]:
import pandas as pd

In [23]:
deliveries = pd.read_csv("./deliveries.csv")
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [24]:
batsman = deliveries.groupby('batsman')
batsman.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149594,633,1,Gujarat Lions,Royal Challengers Bangalore,18,6,ER Dwivedi,DJ Bravo,CJ Jordan,0,...,0,4,0,0,0,4,4,NaN,NaN,NaN
150449,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,2,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150450,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,3,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150451,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,4,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150454,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,1,CJ Jordan,Sachin Baby,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [25]:
batsman.get_group('V Kohli').shape

(3494, 21)

In [26]:
viratKohli=batsman.get_group('V Kohli')
viratKohli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

viral kohli balls played

In [27]:
viratKohli['ball'].sum()

np.int64(12284)

In [28]:
batsman['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

list of batsmans scored numbers of 4 runs

In [29]:
mask = deliveries['batsman_runs']== 4
fourRuns= deliveries[mask]

In [30]:
fourRuns.shape[0]

17033

In [31]:
fourRuns.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
G Gambhir     484
SK Raina      402
DA Warner     401
S Dhawan      401
V Kohli       384
             ...
AC Thomas       1
UA Birla        1
AG Murtaza      1
Umar Gul        1
VRV Singh       1
Name: batsman_runs, Length: 368, dtype: int64

list of batsmans scored numbers of 6 runs

In [32]:
mask = deliveries['batsman_runs']== 6
sixRuns= deliveries[mask]

In [33]:
sixRuns.shape[0]

6523

In [34]:
sixRuns.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
CH Gayle         266
SK Raina         174
RG Sharma        173
DA Warner        160
V Kohli          160
                ...
Sohail Tanvir      1
T Kohli            1
T Henderson        1
A Mithun           1
A Choudhary        1
Name: batsman_runs, Length: 301, dtype: int64

In [35]:
vk = deliveries[deliveries['batsman']=='V Kohli']

In [38]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [45]:
def run_against(player):
    select = deliveries[deliveries['batsman']==player]
    return select.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [46]:
run_against('V Kohli')

bowling_team
Chennai Super Kings    706
Name: batsman_runs, dtype: int64

In [47]:
run_against('DA Warner')

bowling_team
Kolkata Knight Riders    677
Name: batsman_runs, dtype: int64

In [48]:
run_against('G Gambhir')

bowling_team
Kings XI Punjab    671
Name: batsman_runs, dtype: int64

In [50]:
run_against("MS Dhoni")

bowling_team
Royal Challengers Bangalore    608
Name: batsman_runs, dtype: int64